<h2 class="mb-2vh">Create a new post:</h2>
 <%= form_with model: [ @user, @post ] do |form| %>
     <p>
       <%= form.label :title %><br>
       <%= form.text_field :title %>
     </p>
     <p>
       <%= form.label :text %><br>
       <%= form.text_area :text %>
     </p>
     <p class="border-2 rounded w-fit p-2 bg-slate-200">
       <%= form.submit "Create Post" %>
     </p>
   <% end %> 