<div class="container w-11/12 mx-auto mt-10 border-2 p-5">
<div class="container w-full flex justify-between">
<strong>Post #<%= @post.id %> by <%= @post.author.name%></strong>
<span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></span>
</div>
Title: <%= @post.title%><br>
<%= @post.text%>
</div>
<div class="post-card flex-column border-2 w-11/12 mx-auto mt-0 p-5">
<strong>Comments</strong><br>
 <% @comments.includes(:author).each do |comment| %>
 <%= comment.author.name %>: <%= comment.text %><br>
 <%end%>
 </div>
 <p class="notice text-green-700"><%= notice %></p>
 <%= button_to 'Like this post', user_post_likes_path(@user, @post), method: :post, class: "bg-blue-500 text-white rounded p-2 ml-10 mt-5" %>
 <div class="container mx-auto ml-10"><%= render 'shared/comment_form' %></div>