<div class="container w-11/12 mx-auto mt-10 border-2 p-5">
<div class="container w-full flex justify-between">
<strong>Post #<%= @post.id %> by <%= @post.author.name%></strong>
<span>Comments: <%= @post.comments.count %> Likes: <%= @post.likes.count %></span>
</div>
Title: <%= @post.title%><br>
<%= @post.text%>
</div>
<div class="post-card flex border-2 w-11/12 mx-auto mt-0 p-5">
<strong>Comments</strong><br>
 <%@post.comments.each do |comment|%>
 <%= comment.author.name %>: <%= comment.text %><br>
 <%end%>
 </div>